*{
box-sizing:border-box;
}

html,body{
margin:0;
height:100%;
overflow:hidden;
}

body{
display:flex;
flex-direction:column;
font-family:sans-serif;
background:#bbb;
}

.menu{
height:80px;
display:flex;
justify-content:center;
align-items:center;
gap:12px;
}

.black{
background:#222;
color:white;
}

.white{
background:#ddd;
}

.menuPiece{
font-size:60px;
cursor:pointer;
}

#board{
width:100vw;
height:100vw;
max-width:100vh;
max-height:100vh;
margin:auto;
display:grid;
grid-template-columns:repeat(8,1fr);
grid-template-rows:repeat(8,1fr);
}

.cell{
display:flex;
align-items:center;
justify-content:center;
font-size:8vw;
}

.light{
background:#f0d9b5;
}

.dark{
background:#b58863;
}

.selected{
outline:3px solid yellow;
}

.move.light{
background:#c8e6c9;
}

.move.dark{
background:#81c784;
}

#promotionMenu{
position:fixed;
top:50%;
left:50%;
transform:translate(-50%,-50%);
background:white;
padding:15px;
border-radius:10px;
display:none;
gap:10px;
box-shadow:0 0 15px rgba(0,0,0,.5);
z-index:9999;
flex-direction:row;
}

.promoPiece{
font-size:50px;
cursor:pointer;
}

.blocked-light{
background:#ffccbc;
}

.blocked-dark{
background:#ff8a65;
}